.parallax-bgg {
    background-image: url('https://i.ibb.co/19MvQqF/1jpeg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.parallax-bg {
    background-image: url('https://i.ibb.co/6tTZMGt/things-to-do-in-maldives-at-night.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

